<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @score.description %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @score.subject %>
</p>

<p>
  <strong>Student:</strong>
  <%= @score.student %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
